*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}


.paciente-invalido{
    background-color:lightcoral;
}

#mensagem-erro{
    color:red;
}

.fadeOut{
	opacity: 0;
	padding:0;
	transition: 500ms;
}


#filtrar-tabela{
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

/* --------------------------------------
 O CSS vai buscar os elementos mais específicos, então abaixo eu digo 
 que se a minha modal tiver uma classe invisível, ela sobrescreverá 
 o display flex que o modificador #modal escreveu.
 ------------------------------------------*/
#modal.invisivel{
	display: none;
}


#modal{	
	/* [Início] isso cria um efeito em que a div vai ficar sobre toda a tela. */
	height: 100vh;
	width: 100vw;
	background-color: #051325bb;  /* Criando cor de fundo com transparência */
	position:fixed;
	top:0px;
	left: 0px;	
	/* [Fim] isso cria um efeito em que a div vai ficar sobre toda a tela. */

	/* [Início] tratando o conteúdo da modal */
	display:flex;  /*isso fará os elementos dentro da modal assumirem o comportamento de caixa flex. */
	align-items: center; /* coloca os itens ao centro (sentido  vertical) da modal */
	justify-content: center; /*  alinha ao centro (sentido horizontal) */
	/* [Final] tratando o conteúdo da modal */	
}


#modal .content{
	/*background-color:#ccc;*/
	background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
	width: 420px;
	height: 160px;
	border-radius: 8px 0px 8px 0px;
	box-shadow: 1px 0px 9px 6px rgba(235, 232, 232, 0.2);
	
	
}

#modal .header{
	background-color: lightcoral;
	height: 36px;
	align-items: center;
	display:flex;
	padding: 0px 6px;
	justify-content: space-between; /* coloca um espaço entre os itens */
	border-radius: 8px 0px 0px 0px;
	color: white;
	font-size: bold;
}

#modal .header a{
	background-image: url("../img/x.svg");
	height: 24px;
	width: 24px;
	
	font-size: 0.01px;
}

#modal .modalBody{
	
	/*padding: 30px 48px;*/
	display:flex;
	/*justify-content: space-around;*/
	height: 128px;
	align-items: center;
	justify-content: center;
}

#modal .content .modalBody .icone{
	background-image: url("../img/loading.svg");
	height: 48px;
	width: 48px;
	
}

#modal .content .modalBody p{	
	margin-left: 6px;
	width: 200px;
	color: white;
}



.invisivel{
	display: none;
}
